body{
  margin: 0;
  background: url("../images/etoiles.jpg") no-repeat;
  background-size: cover; }
}

.clearBoth{
  clear: both;
}

svg{
  width: 50px;
  display: block;
  margin: 0 auto;
}

p{
  text-align: center;
  color: #77e86f;
}



.item{
  margin: 0;
  width: 80px;
  float: left;
  border-radius: 10px;
  padding: 15px 10px 0px 10px;
}

.top_menu{
  width: 800px;
  display: block;
  margin: 0 auto;
}

.shipou{
  width: 400px;
  display: block;
  margin: 0 auto;
  transform: rotate(90deg);
}

.cards svg{
  float: left;
  width: 70px;
  margin-top: 93px;
  padding: 0 30px;
}

  .cards{
  width: 800px;
  margin: 0 auto;
}

.choice{
  background-color: red;
}
