/* 
  01 - Font face
  02 - General variable
  03 - bitcoins variable
  04 - Slider
  05 - list icons ressources
  06 - Cards
  07 - Event
  08 - Slider
*/


/******************************************
 *                              
 *              FONT FACE
 * 
 * ****************************************/
@font-face {
  font-family: 'moonhouseregular';
  src: url('../fonts/moonhouse-webfont.woff2') format('woff2'), url('../fonts/moonhouse-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/******************************************
 *                              
 *              GENERAL VARIABLE
 * 
 * ****************************************/
html {
  font-size: 62.5%;
  user-select: none;
}

.image {
  background: url('../images/etoiles.jpg') -1px center/cover repeat-x;
  height: 810px;
  width: 100%;
  z-index: 200;
  overflow: hidden;
}

body {
  margin: 0;
  position: relative;
  overflow: hidden;
}

.clearBoth {
  clear: both;
}

svg {
  width: 50px;
  display: block;
  margin: 0 auto;
}

p {
  text-align: center;
  color: #77e86f;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}

p.absolute {
  position: absolute;
  top: 250px;
  left: 500px;
  color: #e86f6f;
  font-size: 10em;
  font-family: 'moonhouseregular';
}

h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.7em;
  text-align: center;
}

.version {
  position: absolute;
  top: 0px;
  right: 10px;
}



/******************************************
 *                              
 *              BITCOINS
 * 
 * ****************************************/
.bitcoins_total {
  cursor: pointer;
}

.bitcoins {
  position: absolute;
  top: 300px;
  left: 30px;
}

.bitcoin_button_option {
  position: absolute;
  top: 300px;
  left: 100px;
  color: white;
}

/******************************************
 *                              
 *                SLIDER
 * 
 * ****************************************/
#slider {
  width: 960px;
  margin: 0 auto;
}

.slides {
  list-style: none;
  text-align: center;
  padding: 0;
}

.slides li {
  display: inline-block;
  margin: 20px 20px 0px 20px;
}

.slides li img {
  border: 3px solid white;
  cursor: pointer;
}

.size_slide {
  width: 450px;
  display: block;
  margin: 0 auto;
}

.item {
  margin: 0;
  width: 80px;
  float: left;
  border-radius: 10px;
  padding: 15px 10px 0px 10px;
}



/******************************************
 *                              
 *          LIST ICONS RESSOURCES
 * 
 * ****************************************/
.top_menu {
  width: 800px;
  display: block;
  margin: 0 auto;
}



/******************************************
 *                              
 *                  CARDS
 * 
 * ****************************************/
.cards svg {
  float: left;
  width: 70px;
  padding: 0 30px;
}

.cards {
  width: 650px;
  margin: 0 auto;
  cursor: pointer;
}

.cards_info {
  margin-top: 70px;
}

.choice {
  background-color: red;
}

.persoCardCenter {
  display: block;
  margin: 0 auto;
}



/******************************************
 *                              
 *              EVENT CARDS
 * 
 * ****************************************/
.eventCard {
  position: absolute;
  width: 360px;
  top: 125px;
  right: 50px;
}

.eventCardFood1,
.eventCardWater1,
.eventCardOxygen1,
.eventCardComfort1,
.eventCardEnergy1,
.eventCardHygiene1 {
  display: none;
  margin-bottom: 300px;
}

.answerYesFood1,
.answerNoFood1,
.answerYesWater1,
.answerNoWater1,
.answerYesOxygen1,
.answerNoOxygen1,
.answerYesComfort1,
.answerNoComfort1,
.answerYesEnergy1,
.answerNoEnergy1,
.answerYesHygiene1,
.answerNoHygiene1,
.answerReady {
  cursor: pointer;
  border: 3px solid #77e86f;
  width: 130px;
  margin: 5px auto;
  padding: 5px 10px;
}


/******************************************
 *                              
 *                CHRONO
 * 
 * ****************************************/
.info {
  color: white;
  font-size: 2em;
  font-family: "Roboto";
  position: absolute;
  top: 30px;
  left: 50px;
}

input {
  border: 1px solid white;
  background: rgba(255, 255, 255, 0);
  color: white;
  margin: 10px 0px;
}


.persoCardCenter {
  display: block;
  margin: 0 auto;
}

#chronotime {
  margin: 0px 15px 0px 0px;
}